- state = current_step_index + 1 < total_steps
.container
  .row.new-offer-form-controls
    = render "common_parts/modals/exit_modal", object_type: "provider",
                                               f: f,
                                               exit_link: backoffice_providers_path
    .col-5.back-link-wrapper
      = link_to back_title, backoffice_provider_wizard_path(params[:provider_id], step: prev_step) unless current_step_index.zero?
    .col-2
      - if provider.new_record? || provider.draft?
        .btn.btn-back{ data: { exit_target: "display", action: "click->exit#showModal" } }
          Exit
      - else
        = link_to "Exit", backoffice_provider_exit_path(provider),
            class: "btn btn-back",
            data: { turbo_confirm: "Exit provider editor",
            confirm_details: exit_confirm_details,
            confirm_cancel: _("Go back to edition"),
            confirm_button: _("Exit without saving"), turbo_method: :post, turbo_frame: "_top" }
    .col-2
      - if current_step_index == 4 && params[:provider_id] != "new"
        = link_to _("Delete"),
          backoffice_provider_path(params[:provider_id]),
          class: "btn-special no-border delete-button",
          data: { turbo_confirm: action_prompt("provider", "remove"), turbo_method: :delete }
    .col-3.text-right
      - title = state ? next_title : submit_title
      = f.button :submit, title, class: "btn-sm btn-primary pl-5 pr-5"
      -# data: state ? {} : { controller: "form-redirect", action: "turbo:submit-end->form-redirect#next" }
