- current_step = "contacts"
= simple_form_for [:backoffice, provider],
  url: backoffice_provider_step_path(params[:provider_id], current_step),
  html: { "data-form-target": "form" },
  method: :put do |f|
  = render "backoffice/providers/steps/navbar", provider_id: params[:provider_id]
  .new-form-style
    = f.input :form_step, as: :hidden, input_html: { value: current_step }

    .row.service-contact-emails
      .col-12
        %h4
          = _("Main Contact")
        .contact
          = f.fields_for :main_contact do |main_contact_form|
            = main_contact_form.hidden_field :id, disabled: provider.upstream_id.present?
            = main_contact_form.input :first_name, disabled: provider.upstream_id.present?,
              input_html: { "data-form-target": "mcFirstName" }
            = main_contact_form.input :last_name, disabled: provider.upstream_id.present?,
              input_html: { "data-form-target": "mcLastName" }
            = main_contact_form.input :email, disabled: provider.upstream_id.present?,
              input_html: { "data-form-target": "mcEmail" }
            .row
              .col-2
                = main_contact_form.input :country_phone_code,
                  label: "Dialing Code",
                  collection: Country.all.map { |c| [ "#{c.country_code} #{c.emoji_flag}", "value" => c.country_code ] },
                  selected: "#{provider.country.country_code} #{provider.country.emoji_flag}",
                  input_html: { "data-form-target": "mcCode" }
              .col-6
                = main_contact_form.input :phone,
                  label: "Phone Number",
                  input_html: { "data-form-target": "mcPhone" }
            = main_contact_form.input :position, disabled: provider.upstream_id.present?,
              input_html: { "data-form-target": "mcPosition" }
    .row.service-contact-emails{ "data-service-target": "publicContacts" }
      .col-12
        %h4
          = _("Public contacts")
          .row
            .col-12
              = link_to "Copy data form the main contact", "javascript:", class: "btn btn-primary pl-5 pr-5",
                data: { action: "click->form#duplicateContact" }
          = f.error :public_contacts, class: "invalid-feedback d-block"
          = f.fields_for :public_contacts, disabled: provider.upstream_id.present?, multiple: true, as: :array,
                  wrapper_html: { "data-form-target" => "publicContact" } do |public_contact_form|
            = render_public_contact(public_contact_form, provider)
          = link_to _("Add additional public contact"), "javascript:", class: "btn btn-primary disablable",
          data: { form: { target: "addField" },
          action: "click->form#addField",
          value: "publicContacts",
          fields: f.fields_for(:public_contacts, PublicContact.new,
          child_index: "new_field") { |pcf| render_public_contact(pcf, provider) } }
    %hr.bottom-hr.mt-5.mb-4
      .row
        .col-10
          = f.button :submit, next_title, class: "btn btn-primary pl-5 pr-5"
        .col-2
          = f.button :submit, back_title, class: "btn btn-primary pl-5 pr-5"
