= render "layouts/sections"

.breadcrumbs-backoffice-wrapper
  .container
    .breadcrumbs.data-probe
      %a{ href: "/backoffice" } Backoffice
      ›
      %span.current Owned Services &amp; Datasources

.container
  %nav.navbar.navbar-expand-lg.navbar-light.backoffice-nav

    %button.navbar-toggler.backoffice-menu{ "aria-controls" => "navbar-supported-content",
                            "aria-expanded" => "false", "aria-label" => "Toggle navigation",
                            "data-target" => "#navbar-supported-content",
                            "data-toggle" => "collapse",
                             type: "button" }
      %span.navbar-toggler-icon

    #navbar-supported-content.collapse.navbar-collapse
      %ul.navbar-nav
        = nav_link controller: :backoffices, html_options: { class: "nav-item" } do
          = link_to _("Getting Started"), backoffice_path, class: "nav-link"
        - if policy([:backoffice, Catalogue]).index?
          = nav_link controller: :catalogues, html_options: { class: "nav-item" } do
            = link_to _("Catalogues"), backoffice_catalogues_path, class: "nav-link"
        = nav_link controller: :services, html_options: { class: "nav-item" } do
          = link_to _("Services"), backoffice_services_path, class: "nav-link"
        - if policy([:backoffice, Provider]).index?
          = nav_link controller: :providers, html_options: { class: "nav-item" } do
            = link_to _("Providers"), backoffice_providers_path, class: "nav-link"

        .nav-item
          .nav-link Other settings
